/vendor/*
/tmp/*
/logs/*
!/vendor/psy/
!/vendor/aura/
!/vendor/bin/
!/vendor/nikic/
!/vendor/mobiledetect/
!/vendor/cakephp/
!/vendor/autoload.php
!/vendor/jdorn/
!/vendor/dnoegel/
!/vendor/robmorgan/
!/vendor/composer/
!/vendor/jakub-onderka/
!/vendor/cakephp-plugins.php
!/vendor/psr/
!/vendor/symfony/
/nbproject/private/
!/vendor/rabp9/