.container {
    height: 100%;
    width: 99%;
    padding-left: 10px;
    padding-right: 10px;
}

.heading {
    background: url(../img/fond_suinter.jpg); 
    height: 40px; 
    padding-top: 8px; 
    padding-left: 20px; 
    padding-right: 20px;
    border: solid 1px;
}

body {
    padding-top: 120px;
    background-color: #CDE2FF;
}

.droppable-container {
    position: relative;
}

.draggable-container {
    overflow: hidden;
}

.draggable { 
    margin: 3px; 
    float: left;
    width: 50px; 
    height: 50px;
    background-color: white;
    text-align: center;
    border: solid 1px;
}
  
.img-bus { 
    height: 355px;
    width: 930px;
}

.disponible {
    background-color: #33ff00;
}

.restringido {
    background-color: red;
    color: white;
}

.close-white {
    color: #fff; 
    opacity: 1;
}

ul#ulTabs {
    background-color: #EAF2FF;
} 

div.dvPersonaEncontrada {
    border: solid 1px;
    background-color: #F1F3F6;
    border-radius: 5px;
    text-align: center;
    height: 50px;
}

hr.divisor {
    margin: 5px 0px 5px 0px;
    border: 1px solid #337ab7;
}

table.tblProductos {
    border: 1px solid #337ab7;
}

.glyphicon-car:before {
    content: url('../fonts/glyphicons-6-car.png');
}

.glyphicon-user-key:before {
    content: url('../fonts/glyphicons-526-user-key.png');
}

.animated {
    opacity: 1;
    max-height: auto;
    overflow: hidden;
    transition: all 0.8s;
}

.animated.ng-hide {
    opacity: 0;
    max-height: 0px !important;
    display: block !important;
}

.ss-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -35px; /* mitad en negativo*/
    margin-top: -35px; /* mitad en negativo*/
}

@keyframes cancelado {
    from {background-color: #33ff00;}
    to {background-color: #BBFFAA;}
}

@keyframes debe {
    from {background-color: #D90000;}
    to {background-color: #FF8282;}
}

@keyframes entregado {
    from {background-color: #2693FF;}
    to {background-color: #91C8FF;}
}

@keyframes programado {
    from {background-color: #FFFF00;}
    to {background-color: #FFFFBF;}
}
/*
td.cancelado {
    text-align: center;
    background-color: #33ff00;
    animation-name: cancelado;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
*/
td.debe {
    text-align: center;
    color: #fff;
    background-color: #D90000;
    animation-name: debe;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/*
td.entregado {
    text-align: center;
    color: #000;
    background-color: #2693FF;
    animation-name: entregado;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
*/
td.programado {
    text-align: center;
    color: #000;
    background-color: #2693FF;
    animation-name: programado;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.trProducto.ng-animate {
    transition: 0.4s linear all;
}
.trProducto.ng-enter {
    opacity:0;
}
.trProducto.ng-enter.ng-enter-active {
    opacity:1;
}
.trProducto.ng-leave {
    opacity:1;
}
.trProducto.ng-leave.ng-leave-active {
    opacity:0;
}

.pnl-pasajes {
    background-color: white;
    height: 100%;
/*    padding-right: 30px;*/
    overflow: auto;
}

.pnl-programaciones-add  {
    height: 330px;
}
